.custom-button {
    padding: 12px 10px;
    border: 2px solid black;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: semibold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
}


.custom-button:active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.custom-button.grey {
    background-color: #e2e8f0;
}

.custom-button.grey:hover {
    background-color: #bcc2ca;
}

.custom-button.grey:active {
    background-color: #a0a5ab;
}

.custom-button.blue {
    background-color: #A9C4FD;
}

.custom-button.blue:hover {
    background-color: #90AEED;
}

.custom-button.blue:active {
    background-color: #7898DD;
}

.custom-button.yellow {
    background-color: #FFD68B;
}

.custom-button.yellow:hover {
    background-color: #FFBC3F;
}

.custom-button.yellow:active {
    background-color: #ecaa30;
}


.custom-dialog .p-dialog-header {
    border: 3px solid black;
    border-bottom: 0px;
}

.custom-dialog .p-dialog-content {
    border: 3px solid black;
    border-top: 0px;
}
