@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Gluten', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}


/* Main Wrapper for the entire content */
.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* Use full height */
  position: relative;
  flex-grow: 1;  /* Allows the content area to fill available space */
}

/* Main content takes available space */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Footer wrapper, should stay at bottom */
.footer-wrapper {
  width: 100%;
}

/* Footer styles */
footer {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  bottom: 0;
}

/* Media Queries for responsiveness */
@media (max-width: 1024px) { /* iPad and smaller */
  .main-wrapper {
    min-height: 100vh;  /* Footer stays at the bottom */
  }

  footer {
    position: relative;
    margin-top: auto;
    width: 100%;
  }
}

@media (max-width: 768px) { /* Phones */
  .main-wrapper {
    min-height: 100vh;
  }

  footer {
    position: relative;
    margin-top: auto;
    width: 100%;
  }
}